/* mat-raised-button {
  background-color: red;
} */

/* .example-button-row button {
  background-color: red;
} */

/* .button {
  background-color: red !important;
} */

.example-spacer {
  flex: 1 1 auto;
}
